@tailwind base;
@tailwind components;
@tailwind utilities;

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"]:checked + label {
  transform: rotate(360deg);
  background-color: #000;
}
input[type="checkbox"]:checked + label:before {
  transform: translateX(90px);
  background-color: #fff;
}
.toggle {
  display: flex;
  width: 180px;
  height: 90px;
  margin-top: -20px;
  border: 6px solid;
  border-radius: 99em;
  position: relative;
  transition: transform 0.75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;
}
.toggle:before {
  transition: transform 0.75s ease;
  transition-delay: 0.5s;
  content: "";
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: #000;
  border-radius: 50%;
  top: 12px;
  left: 12px;
}
